# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual environment
venv/
env/
.venv/

# Databases / local storage
*.db
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter (if you use it)
.ipynb_checkpoints/

# Cache
.cache/

# HuggingFace
.env